{{define "title"}}
Phiếu Xuất
{{end}}

{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>

<div class="container-fluid">
	<h3 class="p-3">
		Phiếu xuất của kho:&nbsp&nbsp
		<span id="warehouseName" class="badge text-bg-info">
			{{if.Account.Store.ID}}{{.Account.Store.Warehouse.Name}}{{else}}{{.Account.Warehouse.Name}}{{end}}
		</span>
	</h3>
	<table id="dataTable" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Kho</th>
				<th>Cửa hàng</th>
				<th>Dự kiến xuất<br>(d-m-y hh24:mi)</th>
				<th>Lấy hàng<br>(d-m-y hh24:mi)</th>
				<th>KQuả lấy<br>Cần/Đã (cái)</th>
				<th>Đóng gói<br>(d-m-y hh24:mi)</th>
				<th>KQuả gói<br>Cần/Đã (cái)</th>
				<th>Tạo bởi</th>
				<th>Tạo lúc<br>(d-m-y hh24:mi)</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbody">
			{{$domain := .Domain}}
			{{$account := .Account}}
			{{$manager := .Manager}}
			{{$employee := .Employee}}
			{{$exportIDCode := .ExportIDCode}}
			{{range .Page.Exports}}
			<tr>
				<td>{{.ID}}</td>
				<td>
					<strong>ID: </strong>{{.Account.Store.Warehouse.ID}}<br>
					<strong>Tên: </strong>{{.Account.Store.Warehouse.Name}}<br>
				</td>
				<td>
					<strong>ID: </strong>{{.Account.Store.ID}}<br>
					<strong>Tên: </strong>{{.Account.Store.Name}}<br>
				</td>
				<td>{{.ExpectedAt}}</td>
				<td>
					{{if (notProcessed .PickedAt)}}
					<span class="badge text-bg-secondary">
						CHƯA LẤY HÀNG
					</span>
					{{else}}
					{{.PickedAt}}
					{{end}}
				</td>
				<td><span class="badge text-bg-primary">{{.NeededPickQuantity}} / {{.ActualPickQuantity}}</span></td>
				<td>
					{{if (notProcessed .PackedAt)}}
					<span class="badge text-bg-dark">
						CHƯA ĐÓNG GÓI
					</span>
					{{else}}
					{{.PackedAt}}
					{{end}}
				</td>
				<td><span class="badge text-bg-success">{{.NeededPackQuantity}} / {{.ActualPackQuantity}}</span></td>
				<td>
					<strong>ID: </strong>{{.Account.ID}}<br>
					<strong>Tên: </strong>{{.Account.Name}}<br>
					<strong>CVụ: </strong>{{.Account.Role}}<br>
				</td>
				<td>{{.CreatedAt}}</td>
				<td>
					{{if (or (eq $account.Role $manager) (ne $account.Role $employee))}}
					<a class="btn btn-sm btn-info" href="{{$domain}}/export/{{.ID}}">
						Xem
					</a>
					{{if (notProcessed .PickedAt)}}
					<a class="btn btn-sm btn-secondary" href="{{$domain}}/export/{{.ID}}/pick">
						Lấy hàng
					</a>
					{{else}}
					<a class="btn btn-sm btn-primary" href="{{$domain}}/export/{{.ID}}/pick/result">
						KQuả lấy
					</a>
					{{end}}
					{{if (notProcessed .PackedAt)}}
					<a class="btn btn-sm btn-dark" href="{{$domain}}/export/{{.ID}}/pack">
						Đóng gói
					</a>
					{{else}}
					<a class="btn btn-sm btn-success" href="{{$domain}}/export/{{.ID}}/pack/result">
						KQuả gói
					</a>
					{{end}}
					{{end}}
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterRow(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}
	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#dataTable', {
			columnDefs: [
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 5,
			lengthMenu: [5, 10, 25, 50, 75, 100],
		});

		Scanner.init(filterRow(table));
	});
</script>
{{end}}