{{define "main"}}
<div class="container-fluid">
	<h1>Home</h1>
</div>
<script>
	// durl = `data:image/jpeg;base64,${data.bin}`;
	// let o = { bytes: Array.from(Uint8Array.fromBase64(data.bin)) };

	// let ok = false;
	// let img = document.querySelector('#img');
	// let durl;
	// let b64;

	// img.addEventListener('change', (e) => {
	// 	const fr = new FileReader();
	// 	fr.addEventListener('load', () => {
	// 		durl = fr.result;
	// 		console.log(durl);

	// 		b64 = durl.split(',')[1].trim();
	// 		console.log(b64);

	// 		fetch('http://localhost:4000/f', {
	// 			method: 'POST',
	// 			body: JSON.stringify({ bytes: b64 })
	// 		})
	// 			.then(res => {
	// 				ok = res.ok;
	// 				return res.text();
	// 			})
	// 			.then(data => {
	// 				alert(data);
	// 			})
	// 			.catch(err => {
	// 				console.error(err);
	// 			});
	// 	});

	// 	const file = img.files[0];
	// 	fr.readAsDataURL(file);
	// });
</script>
{{end}}

{{define "title"}}
Home
{{end}}