{{define "title"}}
Tạo hàng
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>

<div class="container-fluid">
	<div class="row p-3">
		<h3 class="d-inline">
			<span class="badge text-bg-info">Tạo hàng</span>
		</h3>
	</div>

	<form class="was-validated" method="post" enctype="multipart/form-data" novalidate>
		<!-- Begin warehouse, supplier, expectedAt -->
		<div class="row">
			<div class="col-9">
				<div class="row">
					<div class="col">
						<label for="gtin" class="form-label"><strong>GTIN</strong></label>
						&nbsp;&nbsp;
						<button class="btn btn-dark" id="generateGTINBtn">Tạo</button>

						<input type="text" name="gtin" id="gtin"
							class="form-control was-validated" required>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>

					<div class="col">
						<label for="type" class="form-label">
							<strong>Loại hàng</strong>
						</label>
						<select class="form-select was-validated" name="type" id="type"
							required>
							<option class="d-none" value="" selected></option>
							<option value="{{.Shirt}}">{{.Shirt}}</option>
							<option value="{{.TShirt}}">{{.TShirt}}</option>
							<option value="{{.JeanShirt}}">{{.JeanShirt}}</option>
							<option value="{{.WoolShirt}}">{{.WoolShirt}}</option>
							<option value="{{.DenimShirt}}">{{.DenimShirt}}</option>
							<option value="{{.Jacket}}">{{.Jacket}}</option>
							<option value="{{.Jeans}}">{{.Jeans}}</option>
							<option value="{{.Trousers}}">{{.Trousers}}</option>
							<option value="{{.Sweatpants}}">{{.Sweatpants}}</option>
							<option value="{{.Denimpants}}">{{.Denimpants}}</option>
							<option value="{{.Skirt}}">{{.Skirt}}</option>
							<option value="{{.Dress}}">{{.Dress}}</option>
							<option value="{{.Onesie}}">{{.Onesie}}</option>
						</select>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label for="volume" class="form-label">
							<strong>Thể tích (cm3)</strong>
						</label>
						<input type="number" name="volume" id="volume" min="280" max="2800"
							class="form-control was-validated" required>
						<div class="invalid-feedback">
							Min 280, Max 2800
						</div>
					</div>

					<div class="col">
						<label for="weight" class="form-label">
							<strong>Khối lượng (gram)</strong>
						</label>
						<input type="number" name="weight" id="weight" min="60" max="460"
							class="form-control was-validated" required>
						<div class="invalid-feedback">
							Min 60, Max 460
						</div>
					</div>

					<div class="col">
						<label for="brand" class="form-label">
							<strong>Thương hiệu</strong>
						</label>
						<input type="text" name="brand" id="brand"
							class="form-control was-validated" required>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label for="material" class="form-label">
							<strong>Chất liệu</strong>
						</label>
						<select class="form-select was-validated" name="material" id="material"
							required>
							<option class="d-none" value="" selected></option>
							<option value="{{.Cotton}}">{{.Cotton}}</option>
							<option value="{{.Polyester}}">{{.Polyester}}</option>
							<option value="{{.Silk}}">{{.Silk}}</option>
							<option value="{{.Wool}}">{{.Wool}}</option>
							<option value="{{.Linen}}">{{.Linen}}</option>
							<option value="{{.Rayon}}">{{.Rayon}}</option>
							<option value="{{.Denim}}">{{.Denim}}</option>
						</select>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>

					<div class="col">
						<label for="color" class="form-label"><strong>Màu</strong></label>
						<select class="form-select was-validated" name="color" id="color"
							required>
							<option class="d-none" value="" selected></option>
							<option value="{{.Red}}">{{.Red}}</option>
							<option value="{{.Orange}}">{{.Orange}}</option>
							<option value="{{.Yellow}}">{{.Yellow}}</option>
							<option value="{{.Green}}">{{.Green}}</option>
							<option value="{{.Blue}}">{{.Blue}}</option>
							<option value="{{.Indigo}}">{{.Indigo}}</option>
							<option value="{{.Purple}}">{{.Purple}}</option>
							<option value="{{.Black}}">{{.Black}}</option>
							<option value="{{.Grey}}">{{.Grey}}</option>
							<option value="{{.White}}">{{.White}}</option>
							<option value="{{.Pink}}">{{.Pink}}</option>
							<option value="{{.Brown}}">{{.Brown}}</option>
						</select>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>

					<div class="col">
						<label for="size" class="form-label"><strong>Cỡ</strong></label>
						<select class="form-select was-validated" name="size" id="size"
							required>
							<option class="d-none" value="" selected></option>
							<option value="{{.S}}">{{.S}}</option>
							<option value="{{.M}}">{{.M}}</option>
							<option value="{{.L}}">{{.L}}</option>
							<option value="{{.XL}}">{{.XL}}</option>
							<option value="{{.XXL}}">{{.XXL}}</option>
						</select>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label for="shelfLife" class="form-label">
							<strong>Hạn trữ (tháng)</strong>
						</label>
						<input type="number" name="shelfLife" id="shelfLife" min="1" max="7"
							class="form-control was-validated" required>
						<div class="invalid-feedback">
							Min 1, Max 7
						</div>
					</div>

					<div class="col">
						<label for="supplier" class="form-label">
							<strong>Nhà cung cấp</strong>
						</label>
						<select class="form-select was-validated" name="supplier" id="supplier"
							required>
							<option class="d-none" value="" selected></option>
							{{range .Page.Suppliers}}
							<option value="{{.ID}}">{{.ID}} / {{.Name}}</option>
							{{end}}
						</select>
						<div class="invalid-feedback">
							Không thể trống
						</div>
					</div>

					<div class="col">
						<label for="characteristic" class="form-label">
							<strong>Đặc điểm</strong>
						</label>
						<textarea class="form-control was-validated" name="characteristic"
							id="characteristic" maxlength="30" required></textarea>
						<div class="invalid-feedback">
							Max 30 ký tự
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<label for="img" class="form-label"><strong>Hình</strong></label>
					<input type="file" name="img" id="img" class="form-control was-validated"
						accept="image/jpeg, image/jpg, image/png" required>
					<div class="invalid-feedback">
						Không thể trống
					</div>
				</div>
				<div class="row">
					<img src="" class="img-thumbnail" alt="img">
				</div>
			</div>
		</div>

		<!-- End warehouse, supplier, expectedAt -->

		<div class="row my-4">
			<div class="col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="submitBtn">
					Tạo hàng
				</button>
			</div>
		</div>
	</form>

	<div id="allItems" class="d-none">
		{{range .Page.Items}}
		<div class="existedItem">
			<input type="text" name="existedGTIN" class="existedGTIN" value="{{.GTIN}}">
		</div>
		{{end}}
	</div>
</div>
<script type="module">
	import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js';
	import { domain, IDCode, Scanner } from "/static/js/util.js";

	let items = [];

	function generateGTIN() {
		let gtin = '';
		do {
			gtin = IDCode.GTINIDCode + nanoid();
		}
		while (checkExistedGTIN(gtin));

		document.querySelector('#gtin').value = gtin;
	}

	function checkExistedGTIN(input) {
		for (let i of items) {
			if (input === i.gtin) {
				return true;
			}
		}
		return false;
	}

	function addGTIN(input) {
		if (checkExistedGTIN(input)) {
			alert(`${input} ĐÃ TỒN TẠI`);
			return;
		}
		document.querySelector('#gtin').value = input;
	}

	function getExistedItems(items) {
		document.querySelector('#allItems').querySelectorAll('.existedItem').forEach((i, idx) => {
			let item = {};
			item.gtin = i.querySelector('.existedGTIN').value;

			items.push(item);
		});
		console.log(items);
	}

	function btnToSpinner() {
		const spinner = `
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>`;
		document.querySelector('#submitBtn').innerHTML = spinner;
	}

	function request(form) {
		const payload = new FormData(form);
		console.log([...payload]);

		let ok = false;
		fetch(domain + "/item/add", {
			method: 'POST',
			body: payload,
		})
			.then(res => {
				ok = res.ok;
				if (res.redirected) {
					window.location.replace(res.url);
					return;
				} else {
					return res.text();
				}
			})
			.then(msg => {
				alert(msg);
			})
			.catch(err => {
				alert(err);
			});
	}

	// After getting items (above), begin others task from this point
	document.addEventListener('DOMContentLoaded', function () {
		let img = document.querySelector('#img');
		img.addEventListener('input', (e) => {
			document.querySelector('img').src = URL.createObjectURL(img.files[0]);
		});

		getExistedItems(items);

		document.querySelector('#generateGTINBtn').addEventListener('click', (e) => {
			generateGTIN();
		});

		// Initialize QR scanning
		Scanner.init(addGTIN);

		// Submit the form to server
		let form = document.querySelector('form');
		form.addEventListener('submit', (e) => {
			e.preventDefault();

			if (!e.target.checkValidity()) {
				return;
			}

			if (checkExistedGTIN(document.querySelector('#gtin').value)) {
				alert(`${document.querySelector('#gtin').value} ĐÃ TỒN TẠI`);
				return;
			}

			if (confirm('Bạn đã chắc về thông tin của mặt hàng?')) {
				btnToSpinner();
				request(form);
			}
		});

	});
</script>
{{end}}