{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	img {
		margin: 0;
		padding: 0;
		border: 0;
	}

	h3 {
		padding: 0;
		margin: 0;
		border: 0;
	}
</style>

<div class="container-fluid">
	<table id="itemsTable" class="display compact">
		<thead>
			<tr>
				<!-- <th><a href="{{.Domain}}" class="btn btn-sm btn-primary"><strong>Thêm</strong></a></th> -->
				<th></th>
				<th>GTIN</th>
				<th>Brand</th>
				<th>Loại</th>
				<th>Màu</th>
				<th>Size</th>
				<th>Chất liệu</th>
				<th>Đặc điểm</th>
				<th>Còn<br>(Cái)</th>
				<!-- <th>Giá</th> -->
				<th>Hạn trữ<br>(tháng)</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbody">
			{{$domain := .Domain}}
			{{range .Items}}
			<tr>
				<td><img src="/rec/{{.ImgFSPath}}" alt="/rec/{{.ImgFSPath}}" width="100"></td>
				<td>{{.GTIN}}</td>
				<td>{{.Brand}}</td>
				<td>{{.Type}}</td>
				<td>{{.Color}}</td>
				<td>{{.Size}}</td>
				<td>{{.Material}}</td>
				<td>{{.Characteristic}}</td>
				<td>
					<h3><span class="badge text-bg-success">{{.Stock}}</span></h3>
				</td>
				<!-- <td class="price">{{.Price}}</td> -->
				<td>{{.ShelfLife}}</td>
				<td><a class="btn btn-sm btn-info" href="{{$domain}}/serials?gtin={{.GTIN}}">Serials</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterItem(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}

	function formatVND() {
		document.querySelectorAll('.price').forEach((p, idx) => {
			p.innerText = new Intl.NumberFormat("de-DE", { style: "currency", currency: "VND" }).format(parseInt(p.innerText));
		});
	}

	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#itemsTable', {
			columnDefs: [
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 5,
			lengthMenu: [5, 10, 25, 50, 75, 100],
		});

		// formatVND();

		Scanner.init(filterItem(table));
	});
</script>
{{end}}

{{define "title"}}
Hàng
{{end}}