{{define "title"}}
Hàng quá hạn
{{end}}

{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>

<div class="container-fluid">
	<h3 class="p-3">
		Hàng quá hạn kho:&nbsp&nbsp
		<span id="warehouseName" class="badge text-bg-info">
			{{.Account.Warehouse.Name}}
		</span>
	</h3>
	<table id="dataTable" class="display compact">
		<thead>
			<tr>
				<th></th>
				<th>GTIN</th>
				<th>Tên</th>
				<th>Số lượng (cái)</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbody">
			{{$domain := .Domain}}
			{{$account := .Account}}
			{{range .Page.Items}}
			<tr>
				<td><img src="/rec/{{.Item.ImgFSPath}}" alt="/rec/{{.Item.ImgFSPath}}" width="100"></td>
				<td>{{.Item.GTIN}}</td>
				<td>{{.Item.Name}}</td>
				<td>{{len .Serials}}</td>
				<td>
					<a class="btn btn-sm btn-info" href="{{$domain}}/serials/out-of-date?gtin={{.Item.GTIN}}">
						Chi tiết
					</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterRow(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}
	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#dataTable', {
			columnDefs: [
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 5,
			lengthMenu: [5, 10, 25, 50, 75, 100],
		});

		Scanner.init(filterRow(table));
	});
</script>
{{end}}