{{define "title"}}
Tạo yêu cầu nhập
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
		/* flex-direction: row;
		justify-content: center;
		align-items: center; */
	}
</style>

<div class="container-fluid">
	{{$domain := .Domain}}
	<div class="row p-3">
		<h3>Thêm yêu cầu nhập</h3>
	</div>

	<!-- Begin form warehouse, supplier, expectedAt -->
	<form class="row was-validated" novalidate>
		<div class="row">
			<div class="col">
				<label for="warehouse" class="form-label">Kho</label>
				<select name="warehouse" id="warehouse" class="form-select" required {{$isAccountant
					:=eq .Account.Role .Accountant}} {{if $isAccountant}} disabled {{end}}>
					{{if not $isAccountant}}
					{{range .Warehouses}}
					<option value="{{.ID}} / Kho {{.Name}}">
						{{.ID}} / Kho {{.Name}}</option>
					{{end}}
					{{else}}
					<option selected
						value="{{.Account.Warehouse.ID}} / Kho {{.Account.Warehouse.Name}}">
						{{.Account.Warehouse.ID}} / Kho {{.Account.Warehouse.Name}}
					</option>
					{{end}}
				</select>
				<div class="invalid-feedback">
					Bắt buộc chọn
				</div>
			</div>

			<div class="col">
				<label for="supplier" class="form-label">Nhà cung cấp</label>
				<select name="supplier" id="supplier" class="form-select" value="" required>
					<option style="display: none;" disabled selected value=""></option>
					{{range .Suppliers}}
					<option value="{{.ID}} / Nhà cung cấp {{.Name}}">{{.ID}} / Nhà cung cấp
						{{.Name}}
					</option>
					{{end}}
				</select>
				<div class="invalid-feedback">
					Bắt buộc chọn
				</div>
			</div>

			<div class="col">
				<label for="expectedAt" class="form-label">Dự kiến nhập</label>
				<input type="datetime-local" name="expectedAt" id="expectedAt" min="{{.MinTimestamp}}"
					class="form-control was-validated" required>
				<div class="invalid-feedback">
					Thời điểm phải từ hiện tại trở về sau
				</div>
			</div>
		</div>

		<div class="row my-4" id="submitBtn">
			<div class="col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="addPurchaseBtn">
					Tạo yêu cầu nhập
				</button>
			</div>
		</div>

		<!-- Begin items pick and datalist -->
		<div class="row mt-3" id="itemInput">
			<input onclick="this.value = ''" onblur="this.value = ''" list="itemOpts" id="itemPick"
				placeholder="Tìm hàng...">
			<datalist id="itemOpts">
				{{range .Items}}
				<option class="{{.ImgFSPath}}" value="{{.GTIN}}">
					{{.GTIN}} - {{.Name}}
				</option>
				{{end}}
			</datalist>
		</div>
		<!-- End items pick and datalist -->

		<!-- Begin items pick table -->
		<div class="row mt-1">
			<table id="itemTable" class="table table-striped align-middle">
				<thead>
					<th></th>
					<th>GTIN</th>
					<th>Tên</th>
					<th>Số lượng (cái)</th>
					<th></th>
				</thead>
				<tbody id="itemList"></tbody>
			</table>
		</div>
		<!-- End items pick table -->
	</form>
	<!-- End form warehouse, supplier, expectedAt -->
</div>

<script type="module">
	import { domain, Scanner } from "/static/js/util.js";

	let items;
	getItems();

	function getItems() {
		let ok = false;
		fetch(domain + '/items/json')
			.then(res => {
				ok = res.ok;
				if (res.ok) return res.json();
				else return res.text();
			})
			.then(data => {
				if (!ok) {
					console.log(data);
					return;
				}
				items = data;
			});
	}

	// After getting items (above), begin others task from this point
	document.addEventListener('DOMContentLoaded', function () {
		// Populate the options of items based on the selection of supplier
		document.querySelector('#supplier').addEventListener('change', (e) => {
			document.querySelector('#itemOpts').innerHTML = '';

			let is = [];
			items.forEach((it, i) => {
				if (e.target.value.split(' / ')[0] === it.supplier.id) {
					is.push(it);
				}
			});
			addItemOptFromJSON(is);

			document.querySelector('#itemList').innerHTML = '';
		});

		// Initialize QR scanning
		Scanner.init(addItem);

		// Populate the table of chosen items based on the selection of item
		document.querySelector('#itemPick').addEventListener('input', (e) => {
			addItem(e.target.value);
			e.target.value = '';
		});

		// Delete row in table of chosen items and repopulate the options of items
		document.querySelector('#itemTable').addEventListener('click', (e) => {
			delTR(e);
		});

		// Submit the purchase in JSON to server
		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();

			if (document.querySelector('#itemList').querySelectorAll('tr').length === 0) {
				alert('Phải chọn ít nhất 1 mặt hàng');
				return;
			}
			if (!e.target.checkValidity()) {
				return;
			}

			if (confirm('Bạn đã chắc về thông tin của yêu cầu nhập?')) {
				requestAddPurchase();
			}
		});

		function addItem(input) {
			document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
				if (o.value === input) {
					console.log(o.value, o.className, o.innerText.split(' - ')[1]);

					let tr = document.createElement('tr');
					tr.innerHTML = `
						<td><img height="90" src="/rec/${o.className}" alt="/rec/${o.className}"></td>
						<td>${o.value}</td>
						<td>${o.innerText.split(' - ')[1]}</td>
						<td>
							<input class="form-control was-validated" type="number" min="1" required>
							<div class="invalid-feedback">Ít nhất 1 cái</div>
						</td>
						<td><button class="btn btn-danger delete">X</button></td>
						`;

					document.querySelector('#itemList').appendChild(tr);

					delOpt(o.value);
				}
			});

		}

		function delOpt(gtin) {
			document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
				if (o.value === gtin) {
					o.remove();
				}
			});
		}

		function delTR(e) {
			if (e.target.classList.contains('delete')) {
				let existed = false;

				document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
					if (o.value === e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText) {
						existed = true;
					}
				});

				if (!existed) {
					let op = document.createElement('option');
					op.value = e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText;
					op.innerText = `${e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText} - ${e.target.parentElement.previousElementSibling.previousElementSibling.innerText}`;
					op.className = e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.querySelector('img').src.split('/rec/')[1];

					document.querySelector('#itemOpts').appendChild(op);
				}

				e.target.parentElement.parentElement.remove();
			}
		}

		function addItemOptFromJSON(obj) {
			obj.forEach((o, i) => {
				let op = document.createElement('option');
				op.className = o.imgFSPath;
				op.value = o.gtin;
				op.innerText = `${o.gtin} - ${o.name}`;

				document.querySelector('#itemOpts').appendChild(op);
			});
		}

		function purchaseInput() {
			let o = {
				warehouse: { id: document.querySelector('#warehouse').value.split(' / ')[0] },
				supplier: { id: document.querySelector('#supplier').value.split(' / ')[0] },
				expectedAt: document.querySelector('#expectedAt').value,
				items: [],
			};

			document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, i) => {
				let it = {
					item: { gtin: tr.firstElementChild.nextElementSibling.innerText },
					quantity: parseInt(tr.querySelector('input[type=number]').value),
				};
				o.items.push(it);
			});

			console.log(JSON.stringify(o));
			return o;
		}

		function requestAddPurchase() {
			let o = purchaseInput();

			let ok = false;
			fetch(domain + '/purchase', {
				method: 'POST',
				body: JSON.stringify(o),
				headers: {
					'Content-Type': 'application/json'
				}
			})
				.then(res => {
					ok = res.ok;
					if (res.redirected) {
						window.location.replace(res.url);
						return;
					}
					return res.text();
				})
				.then(data => {
					if (!ok) alert(data);
				});
		}
	});

</script>
{{end}}