{{define "title"}}
Cất hàng
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
	}

	ul {
		list-style-type: none;
		/* Remove bullets */
		padding: 0;
		/* Remove padding */
		margin: 0;
		/* Remove margins */
	}
</style>

<div class="container-fluid">
	{{with .Page.Receive}}
	<div class="row p-3">
		<div class="col">
			<h3 class="d-inline">
				Cất hàng phiếu nhập ID:&nbsp&nbsp
				<span id="receiveID" class="badge text-bg-info">{{.ID}}</span>
			</h3>
		</div>
	</div>
	{{end}}

	<form class="was-validated" novalidate>
		<!-- Begin warehouse, supplier, expectedAt -->
		<div class="row">
			{{$minTStamp := .MinTimestamp}}
			{{with .Page.Receive}}
			<div class="col">
				<label for="warehouse" class="form-label">Kho</label>
				<input name="warehouse" id="warehouse" class="form-control"
					value="{{.Purchase.Warehouse.ID}} - {{.Purchase.Warehouse.Name}}" disabled>
			</div>

			<div class="col">
				<label for="supplier" class="form-label">Nhà cung cấp</label>
				<input name="supplier" id="supplier" class="form-control"
					value="{{.Purchase.Supplier.ID}} - {{.Purchase.Supplier.Name}}" disabled>
			</div>
			<!-- <div class="col">
				<label for="expectedAt" class="form-label">Dự kiến nhập (mm/dd/yyyy)</label>
				<input type="datetime-local" name="expectedAt" id="expectedAt" value="{{.ExpectedAt}}"
					class="form-control was-validated" required disabled>
			</div> -->
			<div class="col">
				<label for="actualAt" class="form-label">Nhập lúc (mm/dd/yyyy)</label>
				<input type="datetime-local" name="actualAt" id="actualAt"
					value="{{slice .ActualAt 0 16}}" class="form-control was-validated" required
					disabled>
			</div>
			<div class="col">
				<label for="voucherID" class="form-label">Số chứng từ gốc</label>
				<input name="voucherID" id="voucherID" class="form-control" value="{{.VoucherID}}"
					disabled>
			</div>
			<input type="text" name="" id="version" value="{{.Version}}" style="display: none;">
			{{end}}
		</div>
		<!-- End warehouse, supplier, expectedAt -->

		<div class="row mt-3">
			<div class="row mt-2 text-center">
				<label for="latestGTIN" class="form-label bg-secondary-subtle">
					<strong>GTIN vừa quét:&nbsp;&nbsp</strong>
					<input class="w-50" type="text" name="latestGTIN" id="latestGTIN" readonly>
				</label>

			</div>
			<div class="row mt-2 text-center">
				<label for="latestSerial" class="form-label bg-success-subtle">
					<strong>Serial vừa quét:&nbsp;&nbsp</strong>
					<input class="w-50" type="text" name="latestSerial" id="latestSerial" readonly>
				</label>

			</div>
			<div class="row mt-3 text-center">
				<label for="latestBin" class="form-label bg-info-subtle">
					<strong>GIỎ vừa quét:&nbsp;&nbsp</strong>
					<input class="w-50" type="text" name="latestBin" id="latestBin" readonly>
				</label>

			</div>
		</div>

		<div class="row my-4 text-center">
			<div class="col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="putawayReceiveBtn">
					Cất hàng
				</button>
			</div>
		</div>

		<!-- Begin items pick table -->
		<div class="row mt-1">
			<table id="itemTable" class="table table-striped align-middle">
				<thead>
					<th>ID Giỏ</th>
					<th>Kệ</th>
					<th>Hàng</th>
					<th>Cột</th>
					<th></th>
					<th>Mặt hàng</th>
					<th>Cần cất (cái)</th>
					<th>Đã cất (cái)</th>
					<th>Ghi chú</th>
				</thead>
				<tbody id="itemList">
					{{range .Page.PutawayBins}}
					{{$b := .Bin}}
					{{range .Items}}
					<tr>
						<td class="binID">{{$b.ID}}</td>
						<td>{{$b.Shelf}}</td>
						<td>{{$b.Row}}</td>
						<td>{{$b.Col}}</td>
						<td><img height="100" src="/rec/{{.Item.ImgFSPath}}"
								alt="/rec/{{.Item.ImgFSPath}}">
						</td>
						<td class="tdItem">
							<ul>
								<li>
									<strong>GTIN:&nbsp;</strong>
									<span class="liGTIN">{{.Item.GTIN}}</span>
								</li>
								<li>
									<span class="liName">{{.Item.Name}}</span>
								</li>
							</ul>
						</td>
						<td>
							<input type="number"
								class="form-control was-validated expectedQuantity"
								required value="{{.Quantity}}" readonly>
						</td>
						<td>
							<input type="number"
								class="form-control was-validated actualQuantity bg-success-subtle"
								min="0" value="0" max="{{.Quantity}}" required readonly>
						</td>
						<td>
							<textarea class="w-100 itemNote" name="itemNote"></textarea>
						</td>
					</tr>
					{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</form>
	<!-- End items pick table -->

	<div class="d-none" id="serials">
		{{range .Page.Receive.Items}}
		{{range .Serials}}
		<input type="text" id="{{.GTIN}};{{.NanoID}}" value="{{.GTIN}};{{.NanoID}}">
		{{end}}
		{{end}}
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.0/jspdf.umd.min.js"></script>
<script type="module">
	import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js';
	import { domain, IDCode, Scanner } from "/static/js/util.js";

	const { jsPDF } = window.jspdf;

	let rc;
	receive();

	let itemList = [];
	let latestGTIN = document.querySelector('#latestGTIN');
	let latestSerial = document.querySelector('#latestSerial');
	let latestBin = document.querySelector('#latestBin');

	function receive() {
		let id = document.querySelector('#receiveID').innerText;
		let ok = false;
		fetch(domain + '/receive/' + id + '/json')
			.then(res => {
				ok = res.ok;
				if (res.ok) return res.json();
				return res.text();
			})
			.then(data => {
				if (ok) {
					rc = data;
					console.log(rc);
					return;
				}
				alert(data);
			});
	}

	function isUnscannedSerial(input) {
		let gtin = input.split(';')[0];
		let serial = input.split(';')[1];

		for (let i of itemList) {
			if (gtin === i.gtin) {
				for (let s of i.serials) {
					if (serial === s.nanoid && s.putaway === false) {
						return true;
					};
				}
			}
		}
		return false;
	}

	function isBinID(input) {
		for (let i of itemList) {
			if (input === i.binID) {
				return true;
			}
		}
		return false;
	}

	function updateItemListObj() {
		for (let i of itemList) {
			if (latestGTIN.value === i.gtin && latestBin.value === i.binID) {
				for (let s of i.serials) {
					if (latestSerial.value === s.nanoid && s.putaway === false) {
						s.putaway = true;
						console.log(i.gtin, s.nanoid, s.putaway);
					};
				}
			}
		}
	}

	function updateDOM() {
		document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
			if ((tr.querySelector('.binID').innerText === latestBin.value) && (tr.querySelector('.liGTIN').innerText.trim() === latestGTIN.value.trim())) {
				for (let i of itemList) {
					if (tr.querySelector('.liGTIN').innerText.trim() === i.gtin && tr.querySelector('.actualQuantity').value < i.expectedQuant) {
						tr.querySelector('.actualQuantity').value = parseInt(tr.querySelector('.actualQuantity').value) + 1;

						latestGTIN.value = '';
						latestBin.value = '';
						latestSerial.value = '';
					}
				}
			}
		});
	}

	function updateReceive() {
		for (let i = 0; i < rc.items.length; i++) {
			for (let j = 0; j < rc.items[i].serials.length; j++) {
				for (let it of itemList) {
					if (it.gtin === rc.items[i].serials[j].gtin) {
						for (let s of it.serials) {
							if (s.nanoid === rc.items[i].serials[j].nanoID && s.putaway === true) {
								rc.items[i].serials[j].bin.id = it.binID;

								console.log(rc.items[i].serials[j].gtin, rc.items[i].serials[j].nanoID, rc.items[i].serials[j].bin.id);
							}
						}
					}
				}
			}
		}
	}

	function process(input) {
		// If input is a valid unscanned Serial of a valid GTIN
		if (isUnscannedSerial(input)) {
			latestGTIN.value = input.split(';')[0];
			latestSerial.value = input.split(';')[1];
		} else if (isBinID(input)) {
			if (latestGTIN.value === "") {
				alert('Hãy quét hàng trước');
				return;
			} else {
				latestBin.value = input;
			}
		} else {
			alert(`MÃ: ${input}` + "\nCÓ THỂ ĐÃ QUÉT HOẶC KHÔNG HỢP LỆ");
			return;
		}

		if (latestBin.value !== "" && latestGTIN.value !== "") {
			updateItemListObj();
			updateDOM();
			updateReceive();
		}
	}

	function missingRequiredNotes() {
		for (let tr of Array.from(document.querySelector('#itemList').querySelectorAll('tr'))) {
			let expectedQuant = tr.querySelector('.expectedQuantity').value;
			let actualQuant = tr.querySelector('.actualQuantity').value;
			let note = tr.querySelector('.itemNote').value;
			let gtin = tr.querySelector('.liGTIN').innerText;
			let name = tr.querySelector('.liName').innerText;

			if (expectedQuant !== actualQuant && note === '') {
				alert(`${gtin} - ${name}` + "\nCẦN THÊM GHI CHÚ");
				return true;
			}
		}
		return false;
	}

	function addItemNotes() {
		for (let tr of Array.from(document.querySelector('#itemList').querySelectorAll('tr'))) {
			let note = tr.querySelector('.itemNote').value;
			let gtin = tr.querySelector('.liGTIN').innerText;

			for (let iq of rc.items) {
				if (iq.item.gtin === gtin) {
					iq.putawayNote = note;
					console.log(iq.putawayNote);
				}
			}
		}
	}

	function requestPutaway(obj) {
		let ok = false;
		fetch(domain + '/putaway', {
			method: 'POST',
			body: JSON.stringify(obj),
			headers: {
				'Content-Type': 'application/json',
			}
		})
			.then(res => {
				ok = res.ok;
				if (res.redirected) {
					window.location.replace(res.url);
					return;
				}
				return res.text();
			})
			.then(data => {
				alert(data);
			});
	}

	document.addEventListener('DOMContentLoaded', function () {
		for (let tr of Array.from(document.querySelector('#itemList').querySelectorAll('tr'))) {
			let t = { serials: [] };
			t.binID = tr.querySelector('.binID').innerText;
			t.gtin = tr.querySelector('.liGTIN').innerText;
			t.expectedQuant = parseInt(tr.querySelector('.expectedQuantity').value);

			for (let ip of document.querySelector('#serials').querySelectorAll('input')) {
				if (ip.value.split(';')[0] === t.gtin) {
					let s = {};
					s.nanoid = ip.value.split(';')[1];
					s.putaway = false;
					t.serials.push(s);
				}
			}

			itemList.push(t);
		}
		console.log(itemList);

		// Initialize QR scanning
		Scanner.init(process);

		// Submit the purchase in JSON to server
		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();

			if (!e.target.checkValidity()) {
				return;
			}

			if (missingRequiredNotes()) {
				return;
			}
			addItemNotes();

			if (confirm('Bạn đã chắc về kết quả nhập?')) {
				requestPutaway(rc);
			}
		});
	});
</script>
{{end}}