{{define "title"}}
Phiếu nhập
{{end}}

{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	ul.no-bullets {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>

<div class="container-fluid">
	<h3 class="p-3">
		Phiếu nhập của kho:&nbsp&nbsp
		<span id="warehouseName" class="badge text-bg-info">{{.Account.Warehouse.Name}}</span>
	</h3>
	<table id="receivesTable" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>ID phiếu nhập</th>
				<th>Kho</th>
				<th>Nhà cung<br>cấp</th>
				<th>Dự kiến nhập<br>(dd-mm-yyyy hh24:mi)</th>
				<th>Nhập lúc<br>(dd-mm-yyyy hh24:mi)</th>
				<th>Tạo bởi</th>
				<th>Tạo lúc<br>(dd-mm-yyyy hh24:mi)</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbody">
			{{$domain := .Domain}}
			{{$endedStatus := .Ended}}
			{{$declinedStatus := .Declined}}
			{{$account := .Account.Role}}
			{{$manager := .Manager}}
			{{$employee := .Employee}}
			{{range .Receives}}
			{{$ended := (ne $endedStatus .Status)}}
			{{$declined := (ne $declinedStatus .Status)}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Purchase.ID}}</td>
				<td>
					<strong>ID: </strong>{{.Purchase.Warehouse.ID}}<br>
					<strong>Tên: </strong>{{.Purchase.Warehouse.Name}}<br>
				</td>
				<td>
					<strong>ID: </strong>{{.Purchase.Supplier.ID}}<br>
					<strong>Tên: </strong>{{.Purchase.Supplier.Name}}<br>
				</td>
				<td>{{.ExpectedAt}}</td>
				<td>
					{{if not (notProcessed .ActualAt)}}
					{{.ActualAt}}
					{{else}}
					<span class="badge text-bg-dark">
						CHƯA NHẬP
					</span>
					{{end}}
				</td>
				<td>
					<strong>ID: </strong>{{.Account.ID}}<br>
					<strong>Tên: </strong>{{.Account.Name}}<br>
					<strong>CVụ: </strong>{{.Account.Role}}<br>
				</td>
				<td>{{.CreatedAt}}</td>
				<td>
					<a class="btn btn-sm btn-info" href="{{$domain}}/receive/{{.ID}}"
						target="_blank">
						Xem
					</a>
					{{if (and (or (eq $account $manager) (eq $account $employee)) (notProcessed .ActualAt))}}
					<a class="btn btn-sm btn-secondary" href="{{$domain}}/receive/{{.ID}}/process"
						target="_blank">
						Xử lý
					</a>
					{{end}}
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterRow(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}
	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#receivesTable', {
			columnDefs: [
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 5,
			lengthMenu: [5, 10, 25, 50, 75, 100],
		});

		Scanner.init(filterRow(table));
	});
</script>
{{end}}
