{{define "title"}}
Tạo phiếu nhập
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
	}
</style>

<div class="container-fluid">
	{{with .Purchase.ID}}
	<div class="row p-3">
		<h3 class="d-inline">
			Tạo phiếu nhập cho yêu cầu nhập ID:&nbsp&nbsp
			<span id="purchaseID" class="badge text-bg-info">{{.}}</span>
		</h3>
	</div>
	{{end}}

	<form class="was-validated" novalidate>
		<!-- Begin warehouse, supplier, expectedAt -->
		<div class="row">
			{{with .Purchase}}
			<div class="col">
				<label for="warehouse" class="form-label">Kho</label>
				<input name="warehouse" id="warehouse" class="form-control"
					value="{{.Warehouse.ID}} - {{.Warehouse.Name}}" disabled>
			</div>

			<div class="col">
				<label for="supplier" class="form-label">Nhà cung cấp</label>
				<input name="supplier" id="supplier" class="form-control"
					value="{{.Supplier.ID}} - {{.Supplier.Name}}" disabled>
			</div>
			{{end}}
			<div class="col">
				<label for="expectedAt" class="form-label">Dự kiến nhập</label>
				<input type="datetime-local" name="expectedAt" id="expectedAt" min="{{.MinTimestamp}}"
					class="form-control was-validated" required>
				<div class="invalid-feedback">
					Thời điểm phải từ hiện tại trở về sau
				</div>
			</div>
			<div class="col">
				<label for="voucherID" class="form-label">Số chứng từ gốc</label>
				<input type="text" name="voucherID" id="voucherID" class="form-control was-validated"
					required>
				<div class="invalid-feedback">
					Không thể rỗng
				</div>
			</div>
		</div>
		<!-- End warehouse, supplier, expectedAt -->

		<div class="row my-4" id="submitBtn">
			<div class="col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="addReceiveBtn">
					Tạo phiếu nhập
				</button>
			</div>
		</div>

		<!-- Begin items pick and datalist -->
		<div class="row mt-3" id="itemInput">
			<input onclick="this.value = ''" onblur="this.value = ''" list="itemOpts" id="itemPick"
				placeholder="Tìm hàng...">
			<datalist id="itemOpts"></datalist>
		</div>
		<!-- End items pick and datalist -->

		<!-- Begin items pick table -->
		<div class="row mt-1">
			<table id="itemTable" class="table table-striped align-middle">
				<thead>
					<th></th>
					<th>GTIN</th>
					<th>Tên</th>
					<th>Số lượng (cái)</th>
					<th></th>
				</thead>
				<tbody id="itemList">
					{{range .ItemQuantitys}}
					<tr>
						<td><img height="100" src="/rec/{{.Item.ImgFSPath}}"
								alt="/rec/{{.Item.ImgFSPath}}">
						</td>
						<td class="tdGTIN">{{.Item.GTIN}}</td>
						<td class="tdName">{{.Item.Name}}</td>
						<td>
							<input type="number"
								class="form-control was-validated tdQuantity" min="1"
								max="{{.Quantity}}" required value="{{.Quantity}}">
							<div class="invalid-feedback">Min 1, Max {{.Quantity}}</div>
						</td>
						<td>
							<button class="btn btn-danger delete">X</button>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
		<!-- End items pick table -->
	</form>
</div>
<script type="module">
	import { domain, IDCode, Scanner } from "/static/js/util.js";

	let iqs = [];

	// After getting items (above), begin others task from this point
	document.addEventListener('DOMContentLoaded', function () {
		document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
			console.log(tr.querySelector('.tdGTIN').innerText);
			let iq = {
				gtin: tr.querySelector('.tdGTIN').innerText,
				img: tr.querySelector('img').src,
				name: tr.querySelector('.tdName').innerText,
				quantity: tr.querySelector('input[type=number]').value,
			};
			iqs.push(iq);
		});
		console.log(iqs);

		// Initialize QR scanning
		Scanner.init(addItem);

		// Populate the table of chosen items based on the selection of item
		document.querySelector('#itemPick').addEventListener('input', (e) => {
			addItem(e.target.value);
			e.target.value = '';
		});

		// Delete row in table of chosen items and repopulate the options of items
		document.querySelector('#itemTable').addEventListener('click', (e) => {
			delTR(e);
		});

		function addItem(input) {
			document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
				if (o.value === input) {
					console.log(o.value, o.className, o.innerText.split(' - ')[1]);

					iqs.forEach((iq, idx) => {
						if (iq.gtin === input) {
							let tr = document.createElement('tr');
							tr.innerHTML = `
								<td><img height="90" src="${iq.img}" alt="${iq.img}"></td>
								<td class>${iq.gtin}</td>
								<td>${iq.name}</td>
								<td>
									<input class="form-control was-validated" type="number" min="1" value="${iq.quantity}" required>
									<div class="invalid-feedback">Min 1 , Max ${iq.quantity}</div>
								</td>
								<td><button class="btn btn-danger delete">X</button></td>
								`;

							document.querySelector('#itemList').appendChild(tr);

							delOpt(o.value);
						}
					});
				}
			});

		}

		function delOpt(gtin) {
			document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
				if (o.value === gtin) {
					o.remove();
				}
			});
		}

		function delTR(e) {
			if (e.target.classList.contains('delete')) {
				let existed = false;

				document.querySelector('#itemOpts').querySelectorAll('option').forEach((o, i) => {
					if (o.value === e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText) {
						existed = true;
					}
				});

				if (!existed) {
					let op = document.createElement('option');
					op.value = e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText;
					op.innerText = `${e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText} - ${e.target.parentElement.previousElementSibling.previousElementSibling.innerText}`;
					op.className = e.target.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.querySelector('img').src.split('/rec/')[1];

					document.querySelector('#itemOpts').appendChild(op);
				}

				e.target.parentElement.parentElement.remove();
			}
		}

		function receiveInput() {
			let o = {
				voucherID: document.querySelector('#voucherID').value,
				purchase: { id: document.querySelector('#purchaseID').innerText },
				expectedAt: document.querySelector('#expectedAt').value,
				items: [],
			};

			document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
				let it = {
					item: { gtin: tr.firstElementChild.nextElementSibling.innerText },
					quantity: parseInt(tr.querySelector('input[type=number]').value),
				};
				o.items.push(it);
			});

			console.log(JSON.stringify(o));
			return o;
		}

		function requestAddReceive(obj) {
			// let o = receiveInput();

			let ok = false;
			fetch(domain + '/receive', {
				method: 'POST',
				body: JSON.stringify(obj),
				headers: {
					'Content-Type': 'application/json'
				}
			})
				.then(res => {
					ok = res.ok;
					if (res.redirected) {
						window.location.replace(res.url);
						return;
					}
					return res.text();
				})
				.then(data => {
					if (!ok) alert(data);
				});
		}

		// Submit the purchase in JSON to server
		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();

			if (document.querySelector('#itemList').querySelectorAll('tr').length === 0) {
				alert('Phải chọn ít nhất 1 mặt hàng');
				return;
			}
			if (!e.target.checkValidity()) {
				return;
			}

			if (confirm('Bạn đã chắc về thông tin của yêu cầu nhập?')) {
				requestAddReceive(receiveInput());
			}
		});

	});
</script>
{{end}}