{{define "title"}}
Nhập hàng
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
	}
</style>

<div class="container-fluid">
	{{with .Receive}}
	<div class="row p-3">
		<div class="col-3">
			<h3 class="d-inline">
				Phiếu nhập ID:&nbsp&nbsp
				<span id="receiveID" class="badge text-bg-info">{{.ID}}</span>
			</h3>
		</div>
	</div>
	{{end}}

	<form class="was-validated" novalidate>
		<!-- Begin warehouse, supplier, expectedAt -->
		<div class="row">
			{{$minTStamp := .MinTimestamp}}
			{{with .Receive}}
			<div class="col">
				<label for="warehouse" class="form-label">Kho</label>
				<input name="warehouse" id="warehouse" class="form-control"
					value="{{.Purchase.Warehouse.ID}} - {{.Purchase.Warehouse.Name}}" disabled>
			</div>

			<div class="col">
				<label for="supplier" class="form-label">Nhà cung cấp</label>
				<input name="supplier" id="supplier" class="form-control"
					value="{{.Purchase.Supplier.ID}} - {{.Purchase.Supplier.Name}}" disabled>
			</div>
			<div class="col">
				<label for="expectedAt" class="form-label">Dự kiến nhập (mm/dd/yyyy)</label>
				<input type="datetime-local" name="expectedAt" id="expectedAt" min="{{$minTStamp}}"
					value="{{.ExpectedAt}}" class="form-control was-validated" required disabled>
				<div class="invalid-feedback">
					Thời điểm phải từ hiện tại trở về sau
				</div>
			</div>
			<div class="col">
				<label for="voucherID" class="form-label">Số chứng từ gốc</label>
				<input name="voucherID" id="voucherID" class="form-control" value="{{.VoucherID}}"
					disabled>
			</div>
			<input type="text" name="" id="version" value="{{.Version}}" style="display: none;">
			{{end}}
		</div>
		<!-- End warehouse, supplier, expectedAt -->

		<div class="row mt-3">
			<div class="row mt-2 text-center">
				<label for="latestGTIN" class="form-label bg-secondary-subtle">
					<strong>GTIN gần nhất:&nbsp;&nbsp</strong>
					<input class="w-50" type="text" name="latestGTIN" id="latestGTIN" readonly>
				</label>

			</div>
			<div class="row mt-3 text-center">
				<label for="latestSerial" class="form-label bg-info-subtle">
					<strong>SERIAL gần nhất:&nbsp;&nbsp</strong>
					<input class="w-50" type="text" name="latestSerial" id="latestSerial" readonly>
				</label>

			</div>
		</div>

		<div class="row my-4 text-center">
			<div class="col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="processReceiveBtn">
					Nhập hàng
				</button>
			</div>
		</div>

		<!-- Begin items pick table -->
		<div class="row mt-1">
			<table id="itemTable" class="table table-striped align-middle">
				<thead>
					<th></th>
					<th>GTIN</th>
					<th>Tên</th>
					<th>Cần nhập (cái)</th>
					<th>Thực nhập (cái)</th>
					<th>Ghi chú</th>
				</thead>
				<tbody id="itemList">
					{{range .Receive.Items}}
					<tr>
						<td><img height="100" src="/rec/{{.Item.ImgFSPath}}"
								alt="/rec/{{.Item.ImgFSPath}}">
						</td>
						<td class="tdGTIN">{{.Item.GTIN}}</td>
						<td class="tdName">{{.Item.Name}}</td>
						<td>
							<input type="number"
								class="form-control was-validated expectedQuantity"
								min="1" max="{{.MaxReceiveQuantity}}" required
								value="{{.Quantity}}" disabled>
							<div class="invalid-feedback">Min 1, Max {{.MaxReceiveQuantity}}
							</div>
						</td>
						<td>
							<input type="number"
								class="form-control was-validated actualQuantity bg-success-subtle"
								min="0" required value="0" readonly>

						<td>
							<textarea class="w-100 itemNote" name="itemNote"></textarea>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</form>
	<!-- End items pick table -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.0/jspdf.umd.min.js"></script>
<script type="module">
	import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js';
	import { domain, IDCode, Scanner } from "/static/js/util.js";

	const { jsPDF } = window.jspdf;

	let totes;
	unusedTotes();

	let o = {
		id: document.querySelector('#receiveID').innerText,
		version: parseInt(document.querySelector('#version').value),
		items: [],
	};

	function unusedTotes() {
		let wID = document.querySelector('#warehouse').value.split(' - ')[0];
		let ok = false;
		fetch(domain + '/totes/' + wID + '/unused/json')
			.then(res => {
				ok = res.ok;
				if (res.ok) return res.json();
				return res.text();
			})
			.then(data => {
				if (ok) {
					totes = data;
					console.log(totes);
					return;
				}
				alert(data);
				return;
			});
	}

	function process(input) {
		// If input is a GTIN of the receive
		// document.querySelectorAll('.tdGTIN').forEach((td, idx) => {
		let tds = document.querySelectorAll('.tdGTIN');
		for (let td of tds) {
			if (td.innerText === input) {
				// Update latest GTIN and Serial
				document.querySelector('#latestGTIN').value = input;
				let ser = IDCode.SerialIDCode + nanoid();
				document.querySelector('#latestSerial').value = ser;

				// Generate ready-print qr pdf
				const doc = new jsPDF({
					unit: 'mm',
					format: [28, 115],
					orientation: 'landscape',
				});
				doc.setFontSize(11);
				doc.addImage(`https://api.qrserver.com/v1/create-qr-code/?size=60x60&data=${td.innerText};${ser}`, 'PNG', 6, 6);

				let s = `GTIN:  ${input}`;
				s += '\n\n' + `Serial:  ${ser}`;
				let text = doc.splitTextToSize(s, 84);
				doc.text(text, 31, 8);

				doc.autoPrint({ variant: 'non-conform' });
				doc.output('dataurlnewwindow');
				// doc.save(td.innerText + '__' + ser + '.pdf');
				// window.open(doc.output('bloburl'));

				return;
			}
		}
		// });

		// If input is a Serial
		o.items.forEach((i, idx1) => {
			i.serials.forEach((s, idx2) => {
				if (s.nanoID === input) {
					// Remove serial from obj
					i.serials.splice(idx2, idx2 + 1);

					// Reset the latests
					document.querySelector('#latestGTIN').value = '';
					document.querySelector('#latestSerial').value = '';

					document.querySelectorAll('.tdGTIN').forEach((td, idx) => {
						if (td.innerText === i.item.gtin) {
							// Decrease acutual amount
							td.nextElementSibling.nextElementSibling.nextElementSibling.querySelector('input[type=number]').value--;

							console.log(JSON.stringify(o));
						}
					});
				}
			});
			return;
		});

		// If input is an unused tote ID
		let contained = false;
		for (let t of totes) {
			if (t.id == input) {
				contained = true;
				let latestGTIN = document.querySelector('#latestGTIN').value;
				if (latestGTIN !== '') {
					// Add serial to object
					o.items.forEach((i, idx) => {
						if (i.item.gtin === latestGTIN) {
							let serial = {
								nanoID: document.querySelector('#latestSerial').value,
								receiveTote: { id: t.id },
								gtin: latestGTIN,
								receive: { id: document.querySelector('#receiveID').innerText }
							};
							i.serials.push(serial);

							console.log(JSON.stringify(o));
						}
					});

					// Increase acutual amount
					document.querySelectorAll('.tdGTIN').forEach((td, idx) => {
						if (td.innerText === latestGTIN) {
							td.nextElementSibling.nextElementSibling.nextElementSibling.querySelector('input[type=number]').value++;
						}
					});

					// Reset the latests
					document.querySelector('#latestGTIN').value = '';
					document.querySelector('#latestSerial').value = '';
				} else {
					alert('Cần quét mã hàng GTIN trước');
				}
			}
		};
		if (!contained && input.includes(IDCode.ToteIDCode)) {
			alert(`Giỏ đựng ${input} đang được sử dụng ở nơi khác`);
		}
	}

	function receiveProcessInput() {
		o.items.forEach((i, idx1) => {
			document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx2) => {
				if (i.item.gtin === tr.querySelector('.tdGTIN').innerText) {
					i.note = tr.querySelector('textarea').value;
				}
			});
		});
		return o;
	}

	function requestProcessReceive(obj) {
		let ok = false;
		fetch(domain + '/receive/' + 'process', {
			method: 'POST',
			body: JSON.stringify(obj),
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(res => {
				ok = res.ok;
				if (res.redirected) {
					window.location.replace(res.url);
					return;
				}
				return res.text();
			})
			.then(data => {
				alert(data);
			});
	}

	function missingNotes() {
		document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
			if (tr.querySelector('.expectedQuantity').value !== tr.querySelector('.actualQuantity').value && tr.querySelector('.itemNote').value === '') {
				gtin = tr.querySelector('.tdGTIN').innerText;
				name = tr.querySelector('.tdName').innerText;
				alert(`${gtin} - ${name} phải có ghi chú`);
				return true;
			}
		});

		return false;
	}

	document.addEventListener('DOMContentLoaded', function () {
		o.id = document.querySelector('#receiveID').innerText;
		document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
			let it = {
				item: { gtin: tr.firstElementChild.nextElementSibling.innerText },
				quantity: parseInt(tr.querySelector('input[type=number]').value),
				note: 'none',
				serials: [],
			};
			o.items.push(it);
		});
		console.log(JSON.stringify(o));

		// Initialize QR scanning
		Scanner.init(process);

		// Submit the purchase in JSON to server
		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();

			if (!e.target.checkValidity()) {
				return;
			}

			if (missingNotes()) {
				return;
			}

			if (confirm('Bạn đã chắc về kết quả nhập?')) {
				requestProcessReceive(receiveProcessInput());
			}
		});

	});
</script>
{{end}}