{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	ul {
		list-style-type: none;
		/* Remove bullets */
		padding: 0;
		/* Remove padding */
		margin: 0;
		/* Remove margins */
	}
</style>

<h2>
	GTIN &nbsp <i><strong>{{.Item.GTIN}}</strong></i>
	<img src="/rec/{{.Item.ImgFSPath}}" alt="/rec/{{.Item.ImgFSPath}}" height="100">
</h2>

<table id="serialsTable" class="display compact">
	<thead>
		<tr>
			<th>Serial</th>
			<th>Kho</th>
			<th>ID Giỏ</th>
			<th>Kệ</th>
			<th>Hàng</th>
			<th>Cột</th>
			<th>Nhập lúc<br>(dd-mm-yyyy hh24:mi)</th>
			<th>ID Phiếu nhập</th>
		</tr>
	</thead>
	<tbody>
		{{range .Serials}}
		<tr>
			<td>{{.NanoID}}</td>
			<!-- <td>{{.Purchase.Warehouse.ID}}</td> -->
			<td>
				<ul>
					<li><strong>ID: </strong>{{.Purchase.Warehouse.ID}}</li>
					<li><strong>Tên: </strong>{{.Purchase.Warehouse.Name}}</li>
				</ul>
			</td>
			<td>{{.Bin.ID}}</td>
			<td>{{.Shelf}}</td>
			<td>{{.Row}}</td>
			<td>{{.Col}}</td>
			<td>{{.Receive.ActualAt}}</td>
			<td>{{.Receive.ID}}</td>
		</tr>
		{{end}}
	</tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterItem(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}

	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#serialsTable', {
			columnDefs: [
				// {
				// 	targets: '_all',
				// 	className: 'dt-body-center'
				// },
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 10,
			lengthMenu: [5, 10, 15, 25, 50, 75, 100],
		});

		Scanner.init(filterItem(table));
	});
</script>
{{end}}

{{define "title"}}
Serial
{{end}}