{{define "main"}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<style>
	img {
		margin: 0;
		padding: 0;
		border: 0;
	}

	h3 {
		padding: 0;
		margin: 0;
		border: 0;
	}
</style>

<div class="container-fluid">
	<h3 class="p-3">
		<span class="badge text-bg-info">Nhà cung cấp</span>
	</h3>

	<table id="itemsTable" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Tên</th>
				<th>Địa chỉ</th>
				<th>Điện thoại</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbody">
			{{$domain := .Domain}}
			{{range .Page.Suppliers}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>{{.Address}}</td>
				<td>{{.Phone}}</td>
				<td>{{.Email}}</td>
				<td>
					<a class="btn btn-sm btn-info" href="{{$domain}}/supplier/{{.ID}}">
						Chi tiết
					</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="module">
	import { Scanner } from "../static/js/util.js";

	function filterItem(table) {
		return function (code) {
			table.search(code);
			table.draw();
		};
	}

	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#itemsTable', {
			columnDefs: [
				{
					targets: '_all',
					className: 'dt-center'
				},
			],
			pageLength: 5,
			lengthMenu: [5, 10, 25, 50, 75, 100],
		});

		formatVND();

		Scanner.init(filterItem(table));
	});
</script>
{{end}}

{{define "title"}}
Nhà cung cấp
{{end}}