{{define "title"}}
Unsafe stock
{{end}}

{{define "main"}}
<style>
	table,
	thead,
	tbody,
	th,
	td {
		padding: 0;
		text-align: center;
	}

	ul {
		list-style-type: none;
		/* Remove bullets */
		padding: 0;
		/* Remove padding */
		margin: 0;
		/* Remove margins */
	}
</style>

<div class="container-fluid">
	<div class="row p-3">
		<div class="col">
			<h3 class="d-inline">
				<span id="receiveID" class="badge text-bg-danger">Hàng có lượng dưới ngưỡng an
					toàn</span>
			</h3>
		</div>
	</div>

	<form class="was-validated" novalidate>
		<!-- Begin warehouse, expectedAt -->
		<div class="row">
			<div class="col">
				<label for="warehouse" class="form-label">Kho</label>
				<input name="warehouse" id="warehouse" class="form-control"
					value="{{.Account.Warehouse.ID}} / {{.Account.Warehouse.Name}}" disabled>
			</div>

			<div class="col">
				<label for="expectedAt" class="form-label">Dự kiến nhập</label>
				<input type="datetime-local" name="expectedAt" id="expectedAt"
					class="form-control was-validated" min="{{.MinTimestamp}}" required>
			</div>
		</div>
		<!-- End warehouse, expectedAt -->

		{{if (eq .Account.Role .Accountant)}}
		<div class="row my-4">
			<div class=" col-4 mx-auto">
				<button class="btn btn-primary" type="submit" id="submitBtn">
					Tạo yêu cầu nhập
				</button>
			</div>
		</div>
		{{end}}

		<!-- Begin items table -->
		<div class="row mt-1">
			<table id="itemTable" class="table table-striped align-middle">
				<thead>
					<th></th>
					<th>Mặt hàng</th>
					<th>Có (cái)</th>
					<th>Cần (cái)</th>
					<th>Nhập (cái)</th>
					<th>Nhà cung cấp</th>
				</thead>
				<tbody id="itemList">
					{{range .Page.UnsafeStocks}}
					<tr>
						<td><img height="100" src="/rec/{{.Item.ImgFSPath}}"
								alt="/rec/{{.Item.ImgFSPath}}">
						</td>
						<td class="tdItem">
							<ul>
								<li>
									<strong>GTIN:&nbsp;</strong>
									<span class="liGTIN">{{.Item.GTIN}}</span>
								</li>
								<li>
									<span class="liName">{{.Item.Name}}</span>
								</li>
							</ul>
						</td>
						<td>
							<input type="number"
								class="form-control bg-danger-subtle was-validated stock"
								value="{{.Stock}}" required disabled>
						</td>
						<td>
							<input type="number"
								class="form-control bg-success-subtle was-validated safeStock"
								value="{{.SafeStock}}" required disabled>
						</td>
						<td>
							<input type="number"
								class="form-control bg-warning-subtle was-validated restock"
								value="{{.Restock}}" required disabled>
						</td>
						<td>
							<select class="form-select supplier"
								aria-label="Default select example" required>
								{{range .Suppliers}}
								<option value="{{.ID}}">{{.ID}} / {{.Name}}</option>
								{{end}}
							</select>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</form>
	<!-- End items table -->

</div>
<script type="module">
	import { domain, IDCode, Scanner } from "/static/js/util.js";

	document.addEventListener('DOMContentLoaded', (e) => {
		// Submit the unsafe restock in JSON to server
		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();

			if (!e.target.checkValidity()) {
				return;
			}

			if (confirm('Bạn đã chắc về thông tin của đã chọn?')) {
				request(result())
			}
		});
	});

	function result() {
		let obj = { items: [] };
		document.querySelector('#itemList').querySelectorAll('tr').forEach((tr, idx) => {
			let i = {
				item: { gtin: tr.querySelector('.liGTIN').innerText },
				stock: parseInt(tr.querySelector('.stock').value),
				restock: parseInt(tr.querySelector('.restock').value),
				safeStock: parseInt(tr.querySelector('.safeStock').value),
				supplier: { id: tr.querySelector('.supplier').value }
			};

			obj.items.push(i);
		});

		obj.expectedAt = document.querySelector('#expectedAt').value;

		console.log(obj);
		return obj;
	}

	function request(obj) {
		let ok = false;

		fetch(domain + '/unsafe/purchases', {
			method: 'POST',
			body: JSON.stringify(obj),
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(res => {
				ok = res.ok;
				if (res.redirected) {
					window.location.replace(res.url);
				} else {
					return res.text();
				}
			})
			.then(msg => {
				alert(msg);
			})
			.catch(err => {
				alert(err);
			});
	}
</script>
{{end}}