{{define "main"}}
<div class="container mt-5">
	<form action="/login" method="post" class="was-validated" id="login-form" novalidate>
		<div class="mb-3">
			<label for="phone" class="form-label">Điện thoại</label>
			<input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10,12}"
				aria-describedby="phoneHelp" required>
			<div class="invalid-feedback">Tối thiểu 10, tối đa 12 SỐ 0-9</div>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Mật khẩu</label>
			<input type="password" class="form-control" id="password" name="password" required>
			<div class="invalid-feedback">Không thể rỗng</div>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>

<script type="module">
	import { domain, Scanner } from '../static/js/util.js';

	const form = document.querySelector('#login-form');

	form.addEventListener('submit', function (e) {
		e.preventDefault();

		if (!form.checkValidity()) {
			return;
		}

		const formData = new FormData(form);
		const payload = new URLSearchParams(formData);
		let ok = false;

		fetch(domain + '/login', {
			method: "POST",
			body: payload,
		})
			.then(function (res) {
				console.dir(res);
				ok = res.ok;

				if (!res.ok) {
					return res.text();
				}
				if (res.redirected) {
					window.location.replace(res.url);
				}
			})
			.then(function (data) {
				if (!ok) {
					alert(data);
				}
			})
			.catch(function (err) {
				console.error(err);
			});
	});

	Scanner.init((code) => {
		let o = JSON.parse(code);
		document.querySelector('#phone').value = o.phone;
		document.querySelector('#password').value = o.password;

		form.submit();
	})
</script>
{{end}}

{{define "title"}}
Login
{{end}}

<!-- {{define "head"}}
{{end}} -->
{{define "nav"}}
{{end}}