<!-- {{define "head"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	body {
		font-family: "Lato", sans-serif;
	}

	/* Fixed sidenav, full height */
	.sidenav {
		height: 100%;
		width: 160px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		padding-top: 10px;
	}

	/* Style the sidenav links and the dropdown button */
	.sidenav a,
	.dropdown-btn {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		outline: none;
	}

	/* On mouse-over */
	.sidenav a:hover,
	.dropdown-btn:hover {
		color: #f1f1f1;
	}

	/* Main content */
	.main {
		margin-left: 160px;
		/* Same as the width of the sidenav */
		font-size: 20px;
		/* Increased text to enable scrolling */
		padding: 0px 10px;
	}

	/* Add an active class to the active dropdown button */
	.active {
		background-color: green;
		color: white;
	}

	/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
	.dropdown-container {
		display: none;
		background-color: #262626;
		padding-left: 8px;
	}

	/* Optional: Style the caret down icon */
	.fa-caret-down {
		float: right;
		padding-right: 8px;
	}

	/* Some media queries for responsiveness */
	@media screen and (max-height: 450px) {
		.sidenav {
			padding-top: 15px;
		}

		.sidenav a {
			font-size: 18px;
		}
	}
</style>
{{end}} -->

{{define "nav"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<div class="sidenav-w3">
	{{if .Account.Warehouse.ID}}
	<a href="/">Home</a>

	<!-- Begin Hàng -->
	<button class="dropdown-btn-w3">Hàng
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="items" href="{{.Domain}}/items">Xem</a>
		<a id="add-items" href="{{.Domain}}/health">Thêm</a>
	</div>
	<!-- End Hàng -->

	<!-- Begin Yêu cầu nhập -->
	{{if not (or (eq .Account.Role .Manager) (eq .Account.Role .Employee))}}
	<button class="dropdown-btn-w3">Ycầu Nhập
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="add-purchases" href="{{.Domain}}/add-purchase">Thêm</a>
		<a id="purchases" href="{{.Domain}}/purchases">Xem</a>
	</div>
	{{end}}
	<!-- End Yêu cầu nhập -->

	<!-- Begin phiếu nhập -->
	<button class="dropdown-btn-w3">Phiếu Nhập
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="receives" href="{{.Domain}}/receives">Xem</a>
		{{if (or (eq .Account.Role .Manager) (eq .Account.Role .Employee))}}
		<a id="putaway" href="{{.Domain}}/putaway-prompt">Cất Hàng</a>
		{{end}}
	</div>
	<!-- End phiếu nhập -->
	{{end}}

	<!-- Begin YCầu Xuất -->
	{{if (or (ne .Account.Store.ID "") (eq .Account.Role .Manager))}}
	<button class="dropdown-btn-w3">YCầu Xuất
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		{{if .Account.Store.ID}}
		<a id="resupplyAdd" href="{{.Domain}}/add-resupply">Thêm</a>
		{{end}}
		<a id="resupplies" href="{{.Domain}}/resupplies">Xem</a>
	</div>
	{{end}}
	<!-- End YCầu Xuất -->

	<!-- Begin Phiếu Xuất -->
	{{if (or (ne .Account.Role .Employee) (eq .Account.Role .Manager))}}
	<button class="dropdown-btn-w3">Phiếu Xuất
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="exportsByWarehouse" href="{{.Domain}}/exports">Xem</a>
		<a id="packPrompt" href="{{.Domain}}/pack-prompt">Đóng gói</a>
	</div>
	{{end}}
	<!-- End Phiếu Xuất -->

	<!-- Begin Kiểm -->
	{{if .Account.Warehouse.ID}}
	<button class="dropdown-btn-w3">Kiểm hàng
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="inventoryAdd" href="{{.Domain}}/inventory-add">Thêm</a>
	</div>
	{{end}}
	<!-- End Kiểm -->

	{{if .Account.Warehouse.ID}}
	<!-- Begin Chênh lệch -->
	<a id="difference" href="{{.Domain}}/difference-activities">Chênh Lệch</a>
	<!-- End Chênh lệch -->

	<!-- Begin Unsafe -->
	<a id="unsafeStocks" href="{{.Domain}}/unsafe-stocks">Hàng dưới lượng an toàn</a>
	<!-- End Unsafe -->
	{{end}}

	<!-- Begin tài khoản -->
	<button class="dropdown-btn-w3">Tài khoản
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container-w3">
		<a id="account" href="{{.Domain}}/account/{{.Account.ID}}">Xem</a>
		<a id="logout" href="{{.Domain}}/logout">Đăng Xuất</a>
	</div>
	<!-- End tài khoản -->
</div>

<script>
	/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	var dropdown = document.getElementsByClassName("dropdown-btn-w3");
	var i;

	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function () {
			this.classList.toggle("active-w3");
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
				dropdownContent.style.display = "none";
			} else {
				dropdownContent.style.display = "block";
			}
		});
	}
</script>
{{end}}