{{define "subject"}}
CTY BÁN LẺ QUẦN ÁO, ĐƠN HÀNG {{.ID}}, LẦN {{.Version}}
{{end}}

{{define "html"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		th {
			border-bottom: 1px solid blue;
			border-collapse: collapse;
			text-align: center;
			padding-bottom: 3px;
		}

		td {
			border-top: 1px solid blue;
			border-collapse: collapse;
			text-align: center;
			padding: 5px;
		}

		.name {
			text-align: left;
		}
	</style>
</head>

<body>
	<p>Kính gửi đến quý cty {{.Supplier.Name}}, đơn mua hàng ID: <strong>{{.ID}}</strong>, <strong>lần
			{{.Version}}</strong></p>
	<p>Khi phản hồi, vui lòng thêm ID của đơn hàng vào tiêu đề và nội dung email</p>
	<br>
	<p><strong>Thời điểm giao hàng (yyyy-mm-dd hh:mm <u><i>24h</i></u>): </strong>{{.ExpectedAt}}</p>
	<p><strong>Nơi nhận:</strong></p>
	<ul>
		<li><strong>Tên: </strong>Kho {{.Warehouse.Name}}</li>
		<li><strong>Địa chỉ: </strong>{{.Warehouse.Address}}</li>
		<li><strong>Điện thoại: </strong>{{.Warehouse.Phone}}</li>
	</ul>
	<p><strong>Danh sách hàng:</strong></p>
	<table>
		<thead>
			<tr>
				<th>GTIN</th>
				<th>Tên</th>
				<th>Số lượng (cái)</th>
			</tr>
		</thead>
		<tbody>
			{{range .Items}}
			<tr>
				<td>{{.Item.GTIN}}</td>
				<td class="name">{{.Item.Name}}</td>
				<td>{{.Quantity}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</body>

</html>
{{end}}